body {
    background-color: #fef8fa;
}

.reacties {
    width: 350px;
    font-size: 60px; /* Increase font size */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#logo {
    height: 40px;
}

#pookie {
    width: 400px;
    height: 435px;
}

#hart {
    width: 300px;
}

.bottom{
    margin-bottom: 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
}

.knoppen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}

button {
    padding: 5px 30px; /* Increase padding for bigger button */
    font-size: 60px; /* Increase font size */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #fde2ed; /* Change background color */
    border: 5px solid #ffafd0; /* Add blue border */
    border-radius: 25px; /* Add border radius for rounded corners */
    color: #ffafd0; /* Change text color to white */
    text-decoration: none; /* Remove underline */
}

button:hover {
    background-color: #ffafd0; /* Change background color on hover */
    color: white;
    cursor: pointer; /* Show pointer cursor on hover */
}

div#gameover {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Optional: Add a semi-transparent background */
    color: white;
    z-index: 1000; /* Ensure it appears above other content */
    text-align: center;
    font-size: 50px; /* Adjust font size as needed */
}

h1 {
    color: #ffafd0;
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-bottom: 0.7em;
}