body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fef8fb;
}

.startscherm {
    display: flex;
    flex-direction: row;
}

.star {
    width: 300px;
    height: 275px;
    margin: 10px;
}

h1 {
    color: #ffafd0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin: 15px 0px 0px 0px;
}

#pookie {
    margin-bottom: 25px; /* ziet er mooier uit */
    width: 350px;
}

button {
    padding: 5px 30px; 
    font-size: 60px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #fde2ed; 
    border: 5px solid #ffafd0; 
    border-radius: 25px; /* voor corners */
    color: #ffafd0;
    text-decoration: none; 
}

button:hover {
    background-color: #ffafd0; 
    color: white;
    cursor: pointer; 
}