body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0faff;
}

.startscherm {
    display: flex;
    flex-direction: row;
}

#ster {
    width: 300px;
    height: 275px;
    margin: 10px;
}

h1 {
    color: #ffafd0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin: 15px 0px 0px 0px;
}

#pookie {
    margin-bottom: 25px; /* Adding some margin between elements for better spacing */
    width: 400px;
}

a button {
    padding: 5px 30px; /* Increase padding for bigger button */
    font-size: 60px; /* Increase font size */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #fde2ed; /* Change background color */
    border: 5px solid #ffafd0; /* Add blue border */
    border-radius: 25px; /* Add border radius for rounded corners */
    color: #ffafd0; /* Change text color to white */
    text-decoration: none; /* Remove underline */
}

a button:hover {
    background-color: #ffafd0; /* Change background color on hover */
    color: white;
    cursor: pointer; /* Show pointer cursor on hover */
}